{% extends "base.html" %}
{% load i18n pybb_tags %}

{% block title %}
    {% block pybb_title %}PyBB Powered Forum{% endblock %}</title>
{% endblock %}

{% block extra_css %}
    <link href="{{ MEDIA_URL }}css/forum.css" type="text/css" rel="stylesheet" />
    {% block pybb_styles_extra %}{% endblock %}
{% endblock %}

{% block head_extra %}
    <link rel="alternate" type="application/atom+xml" href="{% url pybb_feed_post %}" title="{% trans "Latest posts on forum" %}" />
    <link rel="alternate" type="application/atom+xml" href="{% url pybb_feed_topic %}" title="{% trans "Latest topics on forum" %}" />
    {% block pybb_head_extra %}{% endblock %}
{% endblock %}

{% block extra_js %}
    {% block pybb_scripts_extra %}{% endblock %}
{% endblock %}

{% block crumbs %}
    {% block pybb_crumbs %}{% endblock %}
{% endblock %}

{% block content %}
    {% block pybb_content %}{% endblock %}
{% endblock %}

{% block sidebar %}
<div class="infobox">
    <h3>New topics</h3>
    <ul>
        {% pybb_load_last_topics as topics %}
        {% for topic in topics %}
        <li><a href="{{ topic.get_absolute_url }}">{{ topic }}</a> - {% pybb_time topic.created %}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
