body { 
  font: 0.8em/1.5 "Arial", sans-serif; 
  color: #303030; 
  text-align: center; 
}

a {
    color:#b41818;
}

a:link {
    color:#b41818;
}

a:hover {
    color:#b41818;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 0.7em;
}

h1 {
    font-size:170%;
}

h2 {
    font-size:150%;
}

h3 {
    font-size:130%;
}

h4 {
    font-size: 110%;
    font-weight: bold;
}

.sidebar-column h3 {
    border-bottom: 1px solid #ddd;
}

.width-section { 
  width:960px; 
  margin: 0 auto 1em; 
  text-align: left; 
}

#head-section {
    background: #303030;
    padding-top: 1em;
    background: white url('../img/site-bg.jpg');
}

    #head-section .inside {
        position: relative;
    }

    #head-banner {
        float: right;
        width: 50%;
    }
  
    #logo {
        font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
        float: left;
        font-size: 2.3em;
        width: 50%;
    }
        #logo a{
            text-decoration: none;
            color: #fff;
            border-left: 0.3em solid #b41818;  
            padding: 0 0 0.25em 0.5em;
        }

        #logo a span {
            color: #676767;
            font-weight: bold;
        }
          
        #logo a:hover span {
            color: #fff;
        }
      

.clear {
    clear: both;
}

.menu-bar {
    margin-top: 0.2em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    color: #cacaca;
}
    .menu-bar li a {
        color: #cacaca;
        text-decoration: none;
    }

    .menu-bar a:hover {
        color: #fff;
    }

    .menu-bar li {
        display: inline;
    }


#main-menu {
    float: left;
    width: 70%;
}

    #main-menu li {
        padding-right: 0.8em;
    }

#profile-menu {
    float: left;
    width: 30%;
    text-align: right;
}

    #profile-menu li {
        padding-left: 0.8em;
    }


#crumbs {
    margin-bottom: 1em;
}

    #crumbs li {
        display: inline;
    }

#site-message-list {
    margin-bottom: 1em;
}

    .site-message-details {
        margin: 0.5em 0;
        padding: 1em;
        background-color: #cfc;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
    }

#center-column {
    float: left;
    width: 600px;
}

#right-column {
    float: left;
    width: 320px;
    padding-left: 40px;
    background-color: white;
}

h1.title, h2.title {
    background: #d02c2c url('../img/header-bg.jpg') no-repeat;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    color: white;
    padding: 0.4em 0.7em;
}

    h1.title a, h2.title a {
        color: white;
    }


.styled-content {
}

    .styled-content p {
        margin-bottom: 1em;
    }

    .styled-content pre {
        background-color: #f7e98e;
        padding: 0.5em;
        font-size:110%;
    }

    .styled-content pre {
        background-color: #f7e98e;
        padding: 0.5em;
        font-size:110%;
    }

    .styled-content code {
        font-family: monospace;
        font-size: 120%;
        padding: 0.1em 0.5em;
        background-color: #f7e98e;
    }
    .styled-content dt {
        font-weight: bold;
    }

    .styled-content dd {
        margin-left: 1em;
    }

    .styled-content ul {
        margin-left: 1em;
        margin-bottom: 1em;
    }

    .styled-content th {
        font-weight: bold;
    }
    
    .styled-content td, .styled-content th {
        padding: 0.2em;
        padding-right: 1em;
    }

    .styled-content strong {
        font-weight: bold;
    }
    
    .styled-content blockquote {
        border: 1px dashed #999;
        padding: 0.5em;
        background-color: #f5f5f5;
    }


.infobox {
    margin-bottom: 1em;
}

    .infobox h3 {
        border-left: 0.3em solid #d43838;  
        padding: 0.5em;
        padding-left: 0.7em;
        background-color: #ffefd5;
        font-weight: bold;
        color: #333;
        position: relative;
        left: -4px;
    }

#footer-section {
    background: #303030;
    color: #b1b1b1;
    position: relative;
}

    #footer-section a{
        color: #b1b1b1;
    }

    #footer-section .inside {
        padding: 1em;
    }

    #footer-section .width-section {
        margin-bottom: 0;
    }

    #footer-section .credits {
        float: right;
    }

    #footer-section .copyrights {
        float: left;
    }

    #footer-section .counters {
        position: absolute;
        left: 45%;
        text-align: center;
        top: 5px;
    }

.pagination {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

    .pagination a.active {
        color: black;
        text-decoration: none;
    }

.fixed {
    position: fixed;
}

.global-nav {
    position: fixed;
    bottom: 0;
    left: 0em;
    font-weight: bold;
    width: 100%;
}

    .global-nav .inside {
        width: 960px; 
        margin: 0 auto;
        text-align: left;
    }

    .global-nav a {
        font-size: 1.7em;
        background-color: #666;
        color: white;
        padding: 0.2em 0.5em;
        text-decoration: none;
    }

form {}

    form p {
        margin-bottom: 1em;
    }

    input, label, textarea, select {
        display: block;
    }

    input, textarea {
        /*width: 90%;*/
        border: 1px solid #333;
        padding-left: 0.2em;
    }

    input.inline {
        display: inline;
    }

    label {
        font-weight: bold;
    }
    
    body input[type="submit"], body input[type="checkbox"],
    body input[type="radio"], body input[type="button"] {
        width: inherit;
    }

    input[type="file"] {
        border: none;
    }

ul.errorlist {
    color: red;
    margin-left: 0;
}

.auth-provider-list {
    margin-bottom: 1em;
}

    .auth-provider-list a {
        font-size: 1.4em;
        padding-right: 1em;
    }

.openid-input {
    background: no-repeat 0 2px url(/static/img/openid_logo.png);
    padding-left: 17px;
}

.user-list {}

    .user-short-details {
        float: left;
        width: 94px;
        text-align: center;
    }

    .user-short-details a {
        color: #303030;
    }

ul.object-list {
    margin-left: 0;
}

.object-details {
    margin-bottom: 2em;
    margin-left: 0.5em;
}

    .object-details .meta {
        margin-bottom: 1em;
        border: 1px solid #ccc;
        background-color: #fcfcfc;
        padding: 0.7em;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        margin-left: -0.4em;
    }

    .object-details .meta-display {
        font-size: 1.4em;
        margin-bottom: 0.5em;
    }

    .object-details h2 {
        margin-left: -0.4em;
    }

    .object-details .share {
        background: no-repeat url(/static/img/thumb_up.png);
        padding-left: 20px;
    }

    .object-details .meta .row2 {
        margin-top: 0.5em;
    }

    .object-details .meta .row3 {
        margin-top: 0.5em;
    }

    .object-details .meta .author {
        background: no-repeat url(/static/img/user.png);
        padding-left: 20px;
        padding-right: 10px;
    }

    .object-details .meta .date {
        background: no-repeat url(/static/img/time.png);
        padding-left: 20px;
    }

    .object-details .meta .tags {
        background: no-repeat url(/static/img/tag_blue.png);
        padding-left: 20px;
    }

.addthis_toolbox {
}

ul.list li {
    margin-left: 0.3em;
    list-style-type: circle;
    list-style-position: inside;
}

.sidebar-share {
    margin-bottom: 1em;
}

    .sidebar-share .label {
        float: left;
        margin-right: 0.5em;
    }


.section-list {
}

    .section-item {
        float: left;
        width: 48%;
        margin-bottom: 1em;
    }

    .section-list .first {
        margin-right: 2%;
        clear: left;
    }

    .section-list .last {
        margin-left: 2%;
    }

    .section-item h3 {
        border-left: 0.3em solid #d43838;  
        padding: 0.5em;
        padding-left: 0.7em;
        background-color: #ffefd5;
        font-weight: bold;
        color: #333;
    }

    .section-item h3 a {
        color: #333;
        text-decoration: none;
    }

    .section-item .date {
        font-size: 0.8em;
        color: #666;
    }

    .section-item .event {
        padding: 0 0.5em;
        color: #666;
        font-weight: bold;
    }

.user-details {}

    .user-details .main {
        float: left;
        width: 100px;
    }

    .user-details .details {
        margin-left: 100px;
    }

.link-item {
    font-size: 1.1em;
}

.link-item .hostname {
    color: #999;
    padding-left: 0.5em;
}

.video-list {
}

    .video-item td {
        padding-left: 0.4em;
    }

    .video-item .date {
    }

    .video-item .author {
    }

    .video-list tr.dark {
        background-color: #f5f5f5;
    }

.video-details .details {
    margin-bottom: 1em;
}

.mini-pagination {
    font-size: 0.9em;
    font-style: italic;
    margin-left: 1em;
}

.document-toc li ul {
    margin-bottom: 0;
}

.copyrights-details {
    font-size: 0.8em;
    padding: 1em;
    background-color: #eee;
    color: #666;
}

.copyrights-details a {
    color: #666;
}

#exchange-section {
    opacity: 0.7;
}

    #exchange-section .inside {
        margin: 1em;
    }

.tip-body {
    display: none;
}

.edit-icon {
    padding-left: 0.5em;
    position: relative;
    top: 0.1em;
}

.infobox h3 .feed-icon {
    float: right;
}

.information {
    margin-top: 1em;
    font-size: 1.2em;
}

.book-item {
    margin-bottom: 2em;
}

    .book-item .promote {
        float: left;
        width: 150px;
    }

    .book-item .cover {
        text-align: center;
    }

    .book-item .cover img {
        border: 1px solid #999;
        padding: 3px;
    }

    .book-item .details {
        float: left;
        width: 450px;
    }

    .book-item dt {
        clear: left;
        float: left;
        width: 7em;
    }
    
    .book-item dd {
        display: block;
    }

.book-details {
}
    
    .book-details .promote {
        width: 250px;
    }

    .book-details .cover {
        text-align: left;
    }
    
    .book-details .details {
        width: 350px;
    }

    .book-details .description {
        margin-top: 1em;
    }

.count-buttons a {
    float: left;
}

.facebook-button {
    position: relative;
    left: -10px;
    margin-right: -10px;
}

.simple-buttons {
    position: relative;
    top: 1px;
}

.addthis_toolbox iframe {
    height: 25px !important;
    margin-bottom: -5px;
}

.event-list {
}
    
    .event-item {
        margin-bottom: 2em;
    }

    .event-item .promo {
        float: left;
        width: 250px;
    }

    .event-item .details {
        margin-left: 250px;
    }

    .event-item dt {
        clear: right;
        float: left;
        width: 7em;
    }

    .event-item dd {
        display: block;
    }

.event-post-list {
}

    .event-post-item {
        margin-bottom: 1em;
    }

    .event-post-item h1 {
        margin-bottom: 0.1em;
    }

    .event-post-item h3 {
        margin-bottom: 0.1em;
    }

    .event-post-item .meta {
        margin: 0.5em 0;
    }
