<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- SEO -->
        <title>{% block title %}PyBB Demo{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% block meta_description %}Demonstration of PyBB - django forum application{% endblock %}" />
        <meta name="keywords" content="{% block meta_keywords %}python, django, forum, pybb, demo{% endblock %}" />
        <meta name="robots" content="all,follow" />
        <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />
        
        <!-- Styles -->
        <link href="{{ MEDIA_URL }}css/reset.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="{{ MEDIA_URL }}css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        {% block extra_css %}{% endblock %}

        <!-- Scripts -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.3.min.js"></script>
        {% block extra_js %}{% endblock %}

        {% block head_extra %}{% endblock %}
    </head>
<body>
</body>
    <a name="top"></a>
    <div id="head-section">
        <div class="width-section">
            <div class="inside">
                <div id="logo">
                    <a href="/">PyBB<span>.Demo</span></a>
                </div>
                <div id="head-banner">
                </div>
                <div class="clear"></div>
                <div class="menu-bar">
                    <ul id="main-menu">
                        <li><a href="{% url pybb_index %}">Форум</a></li>
                        <li><a href="{% url pybb_user_list %}">Пользователи</a></li>
                    </ul>
                    <ul id="profile-menu">
                        {% if user.is_authenticated %}
                        <li><a href="{% url pybb_profile_edit %}">Ваш профиль</a> ({{ user }})</li>
                        <li><a href="{% url auth_logout %}">Выйти</a></li>
                        {% else %}
                        <li><a href="{% url auth_login %}">Войти</a></li> /
                        <li><a href="{% url registration_register %}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="info-section">
        <div class="width-section">
            <ul id="crumbs">
                {% block crumbs %}{% endblock %}
            </ul>
            {% if messages %}
            <div id="site-message-list">
                {% for message in messages %}
                <div class="site-message-details">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div id="content-section">
        <div class="width-section">
            <div id="center-column" class="styled-content">
                {% block content %}{% endblock %}
            </div>
            <div id="right-column">
                <div class="sidebar-share">
                </div>
                {% block sidebar %}{% endblock %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="footer-section" class="styled-content">
        <div class="width-section">
            <div class="inside">
                <div class="copyrights">
                    2011 &copy; <a href="#">pep8.ru</a>
                </div>
                <table class="credits">
                    <tr>
                        <td>
                            <div>Вебмастер: <a href="http://lorien.name">Grigoriy Petukhov</a></div>
                            <br/>
                        </td>
                        <td>
                            <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /></a>
                        </td>
                    </tr>
                </table>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</html>
